.form-check-input:checked {
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.form-check-input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 0 0.25rem rgba(30, 144, 255, 0.25); /* sombra con dodgeblue semitransparente */
}